@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.btn {
   @include button-base;
   min-width: 180px;

   &--primary {
      background: $color-primary;
      color: $color-white;

      &:hover {
         filter: brightness(1.2);
         transform: translateY(-0.25rem);
         transition: all 0.2s ease-in-out;
      }

      &:focus {
         outline: none;
      }
   }
}
