@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.btn {
   @include button-base;
   min-width: 180px;

   &--primary {
      background: $color-primary;
      color: $color-white;
   }
}
